body {
  background: url('imgs/background.png') repeat;
  background-size: 40px 40px;
  font-family: 'Comic Sans MS', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #87ceeb; 
}

.mapa {
  position: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../imagens/mapamario.png"); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}


.area {
  position: absolute;
  width: 180px;
  height: 150px;
  border-radius: 20px;
  background: transparent;
  box-shadow: none;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  padding: 20px;
}


.area h2 {
  margin: 0;
  font-size: 1rem;
}


.botao {
  display: inline-block;
  margin: 5px;
  transition: transform 0.2s;
}

.botao:hover {
  transform: scale(1.1);
}

.personagem img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  padding: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}


.grasslands {
  background: transparent;
  top: 80%;
  left: 15%;
}

.piggy-mountain {
  background: transparent;
  top: 5%;
  left: 15%;
}

.slingshot-heights {
  background: transparent;
  top: 20%;
  left: 35%;
}

.towering-perch {
  background: transparent;
  top: 25%;
  left: 78%;
}

.snowcapped-peaks {
  background: transparent;
  top: 55%;
  left: 67%;
}
